<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <title>Footer</title>
</head>
<body>
<!-- Footer -->
<section id="footer">
        <footer class="page-footer font-small">
            <div class="container-fluid py-5 join">
              <div class="container">
                  <div class="row">
                      <div class="col-md-6 text-md-left">
                          <h2 class="display-5 font-weight-light text-white">
                            Kickstart your entrepreneurial dreams with the UEA.
                          </h1>
                        </div>
                        <div class="col-md-6">
                            <form class="form" action="https://cmuuea.us6.list-manage.com/subscribe/post" method="POST">
                              <input type="hidden" name="u" value="a0e7b3b2228d79e9d346f26c9">
                              <input type="hidden" name="id" value="e35a97cada"> 
                              <div class="row no-gutters">
                                  <div class="col-8">
                                      <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" class="form-control shadow rounded-pill border-0" placeholder="Email">
                                    </div>
                                    <div class="col">
                                        <button target="_blank" type="submit" class="btn btn-primary shadow rounded-pill ml-n5 py-2" type="button">Join Now</button>
                                    </div>
                                  
                              </div>
                               
                            </form>
                        </div>
                      </div>
              </div>
        
              </div>
            <!-- Footer Links -->
            <div class="container text-left py-5 links">
              <!-- Grid row -->
              <div class="row">
                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">
                  <!-- Content -->
                  <h5 class="text font-weight-light text-white">CMU Undergraduate Entrepreneurship Association</h5>
                  <p class="text-white">Helping Carnegie Mellon University students dream the impossible and accomplish the remarkable.</p>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none pb-3">
                <!-- Grid column -->
                <div class="col-md-3 col-6 mb-md-0 mb-3">
                    <!-- Links -->
                    <h5 class="font-weight-light text-white">Opportunities</h5>
                    <ul class="list-unstyled">
                      <li>
                        <a href="/pages/resources.html">Resources</a>
                      </li>
                      <li>
                        <a href="/pages/events.html">Events</a>
                      </li>
                      <li>
                        <a href="https://cmuvc.ueacmu.com">CMU Venture Challenge</a>
                      </li>
                      <li>
                          <a href="/pages/startupacademy.html">Startup Academy</a>
                        </li>
                    </ul>
                  </div>
                  <!-- Grid column -->
                  <!-- Grid column -->
                  <div class="col-md-3 col-6 mb-md-0 mb-3 text-white">
                    <!-- Links -->
                    <h5 class="font-weight-light text-small">Others</h5>
        
                    <ul class="list-unstyled">
                      <li>
                        <a href="/pages/boardopenings.html">Board Openings</a>
                      </li>
                      <li>
                        <a href="/pages/workwithus.html">Work With Us</a>
                      </li>
                      <li>
                        <a href="/pages/team.html">Team</a>
                      </li>
                      <li>
                          <a href="/pages/alumni.html">Alumni</a>
                        </li>
                    </ul>
                  </div>
                  <!-- Grid column -->
              </div>
              <div class="footer-copyright text-center py-3 text-white">© 2019 Copyright:
                  <a>Carnegie Mellon University Undergraduate Entrepreneurship Association</a>
                </div>
              <!-- Grid row -->
            </div>
          </footer>
    </section>
      <!-- Footer -->
  
</body>
</html>